@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "pages/welcome.scss";
@import "pages/home.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: #172368; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #172368 0%, #e249af 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #172368 0%,#e249af 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #172368 0%,#e249af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: white;
  //min-height: calc(100vh - 15vh);
  height: 800px;
  overflow: hidden;
  border-radius: 5px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
